@import "../node_modules/item-quantity-dropdown/lib/item-quantity-dropdown.min.css";

.dropdown-block {
    margin-bottom: 20px;
    width: 320px;
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
}

.dropdown-tile {
    font-family: Montserrat-Bold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.dropdown-p {
    font-family: Montserrat-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */

    text-align: right;
    text-transform: uppercase;
    margin: 0;
}

.iqdropdown {
    background: #fff;
    border: 1px solid $DShade25;
    box-sizing: border-box;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 320px;
    height: 44px;

    &_small {
        width: 266px;
    }

    &:hover,
    &:focus {
        border: 1px solid $DShade50;
    }

    &__footer {
        padding-left: 14px;
        padding-right: 6px;
        display: flex;
        justify-content: space-between;
        margin-top: 22px;
        margin-bottom: 12px;
    }

    &__erase-button {
        font-family: Montserrat-Bold, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $DShade50;
        cursor: pointer;
    }

    &__apply-button {
        font-family: Montserrat-Bold, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $Purpule;
        cursor: pointer;
    }
}

.button-hidden {
    visibility: hidden;
}

.iqdropdown .iqdropdown-selection {
    font-family: Montserrat-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: black;
}

.iqdropdown .iqdropdown-selection::after {
    content: "expand_more";
    font-family: "MaterialIcons-Regular", sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: $DShade50;
    background-image: none;
    right: 8px;
    top: auto;
    width: 10px;
    height: 10px;
}

.iqdropdown.menu-open .iqdropdown-selection::after {
    background-image: none;
    content: "expand_more";
    font-family: "MaterialIcons-Regular", sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: $DShade50;
    transform: rotate(-180deg);
    right: -6px;
    top: 15px;
    width: 10px;
    height: 10px;
}

.iqdropdown.menu-open {
    border: 1px solid $DShade50;
}

.iqdropdown-item {
    font-family: Montserrat-Bold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: black;
}

.iqdropdown .iqdropdown-menu-option {
    height: 30px;
    padding: 0 7px 0 15px;

    &:first-child {
        padding-top: 11px;
    }

    &:nth-child(n + 2) {
        margin-top: 12px;
    }

    &:nth-child(n + 3) {
        margin-top: 7px;
    }
}

.iqdropdown .iqdropdown-item-controls {
    height: 30px;
    width: 92px;
    justify-content: space-between;
    margin-right: -2px;
    margin-top: -1px;
}

.iqdropdown .iqdropdown-item-controls button {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    padding: 0;
}

.iqdropdown .iqdropdown-item-controls button.button-decrement,
.iqdropdown .iqdropdown-item-controls button.button-increment {
    border-radius: 100%;
}

.iqdropdown .iqdropdown-item-controls .counter {
    font-family: Montserrat-Bold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    margin-top: auto;
    margin-bottom: auto;
    text-transform: uppercase;

    /* Dark 100% */

    color: $DShade100;
    border-bottom: none;
    border-top: none;
    padding: 0 0 0 0;
}

.iqdropdown .icon-decrement {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;

    &::after {
        background: white;
        content: "-";
        top: -4px;
        left: -1px;
        color: $DShade50;
    }
}

.iqdropdown .icon-increment {
    font-style: normal;

    &::after {
        content: "+";
        top: -3px;
        left: 0;
    }

    &::before {
        background: white;
    }
}

.iqdropdown .icon-decrement.icon-increment::before {
    background: white;
}

.iqdropdown .iqdropdown-menu {
    top: 44px;
    box-shadow: none;
    border: 1px solid $DShade50;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.custom-message.iqdropdown {
    width: 266px;
}

.dropdown-block.minwidth {
    width: 266px;
}

.custom-message .iqdropdown-menu {
    height: 119px;
}

.custom-message .iqdropdown-selection {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 74px;
}
