mixin pagination(h3)
    .pagination
          h3.pagination-title=h3
          ul.pagination-list
            li.pagination-item.current-page 1
            li.pagination-item 2
            li.pagination-item 3
            li.pagination-item.skip-item ...
            li.pagination-item 15
            li.material-icons.pagination-navigation arrow_forward
          .pagination-data 1 – 12 из 100+ вариантов аренды