mixin pagination(h3)
    .pagination
          h3.pagination__title=h3
          ul.pagination__list
            li.pagination__item.current-page 1
            li.pagination__item 2
            li.pagination__item 3
            li.pagination__item.skip-item ...
            li.pagination__item 15
            li.material-icons.pagination__navigation arrow_forward
          .pagination-data 1 – 12 из 100+ вариантов аренды