.registration-card{
height: 646px;
width: 380px;
background: #ffffff;
padding: 30px;
border-radius: 4px;
}
.registration-card-title{
    font-family: OpenSans-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    
    
    /* Dark 100% */
    
    color: #1F2041;
    margin-top: 10px;
    padding: 0;
    margin-bottom: 15px;
}
.registration-card .text-field-block{
    margin-bottom: 5px;
}
.registration-card .radio .radio-title{
    margin: 0;
}
.registration-card .radio{
    margin-top: 7px;
    margin-bottom: 22px;
}
.registration-card .masked-text-field-title{
    margin-bottom: 5px;
}
.registration-card .masked-text-field-block{
margin-bottom: 20px;
}
.registration-card .toggle{
    margin-top: 7px;
    margin-bottom: 23px;
}
.registration-card .button-purpule-large{
    margin-bottom: 30px;
}
.registration-card__footer{
    display: flex;
    justify-content: space-between;
}
.registration-card__already-text{
    font-family: Montserrat-Regular;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


color: #000000;
padding: 0;
margin-top: 13px;
}