mixin rich-checkbox-buttons(h3)
        h3.rich-checkbox-buttons-title=h3
        .rich-checkbox
            input.rich-checkbox-input(type="checkbox" id="wide")
            label.rich-checkbox-label(for = "wide")
                .rich-checkbox-text-block
                    h4.rich-checkbox-text-title Широкий коридор
                    p.rich-checkbox-text.wide-text Ширина коридоров в номере не менее 91 см.
        .rich-checkbox        
            input.rich-checkbox-input(type="checkbox" id="helper")
            label.rich-checkbox-label(for = "helper")
                .rich-checkbox-text-block
                    h4.rich-checkbox-text-title Помощник для инвалидов
                    p.rich-checkbox-text.help-text На 1 этаже вас встретит специалист и проводит до номера.