mixin rich-checkbox-buttons(h3)
    .rich-checkbox-buttons-block
        h3.rich-checkbox-buttons-block__title=h3
        .rich-checkbox-buttons-block__rich-checkbox
            input.rich-checkbox-buttons-block__checkbox-input(type="checkbox" id="wide")
            label.rich-checkbox-buttons-block__checkbox-label(for = "wide")
                .rich-checkbox-buttons-block__checkbox-text-block
                    h4.rich-checkbox-buttons-block__checkbox-text-block-title Широкий коридор
                    p.rich-checkbox-buttons-block__checkbox-text-block-text.wide-text Ширина коридоров в номере не менее 91 см.
        .rich-checkbox-buttons-block__rich-checkbox        
            input.rich-checkbox-buttons-block__checkbox-input(type="checkbox" id="helper")
            label.rich-checkbox-buttons-block__checkbox-label(for = "helper")
                .rich-checkbox-buttons-block__checkbox-text-block
                    h4.rich-checkbox-buttons-block__checkbox-text-block-title Помощник для инвалидов
                    p.rich-checkbox-buttons-block__checkbox-text-block-text.help-text На 1 этаже вас встретит специалист и проводит до номера.