.masked-text-field-block {
    margin-bottom: 41px;
}

.masked-text-field-block__header {
    display: flex;
    justify-content: space-between;
}

.masked-text-field-block__header.default::after {
    content: "default";
    font-family: Montserrat-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */

    text-align: right;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.masked-text-field-block__title {
    font-family: Montserrat-Bold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    align-self: center;
}

.masked-text-field-block__masked-text-field {
    border-radius: 4px;
    box-shadow: none;
    width: 320px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    padding-left: 15px;
    font-family: Montserrat-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    /* identical to box height, or 171% */
}
