include ../../components/double-date-dropdown/double-date-dropdown
include ../../components/dropdown/dropdown
include ../../components/buttons/buttons

mixin booking-card
    .booking-card
        .booking-card__header
            h1.booking-card__title  
                <span class="booking-card__number">№ </span> 888 <span class="booking-card__lux">люкс</span>
            p.booking-card__dayprice  9 990₽ <span class="booking-card__day">в сутки</span>
        +double-date-dropdown("Прибытие","Выезд","ДД.ММ.ГГГГ","ДД.ММ.ГГГГ")
        +dropdown({type:'guests'},"гости")
        .booking-card__first-sum.price-line
            p.booking-card__text 9 990₽ х <span id="totalDayscount">0</span> 
                <span id="daysName">суток</span>
            p.booking-card__text <span id ="preAmount">0</span>₽
        .booking-card__service-charge.price-line
            p.booking-card__text.text-info Сбор за услуги: скидка 2 179₽ 
            p.booking-card__text 0₽
        .booking-card__additional-sum.price-line
            p.booking-card__text.text-info Сбор за дополнительные<br> услуги 
            p.booking-card__text 300₽
        .booking-card__total-sum.price-line
            p.booking-card__total-text Итого
            .booking-card__doted-block
            p.booking-card__total-text.booking-card__total-price <span id = "totalAmount">0</span>₽
        +button-purpule-large("забронировать")
