mixin radio(h3)
    .radio
        h3.radio__title=h3
        .radio__block
            .radio__button
                input.radio__input(type="radio" name="sex" value="man" id="man" checked)
                label.radio__label(for="man") 
                    p.radio__label-text Мужчина
            .radio__button
                input.radio__input(type="radio" name="sex" value="woman" id="woman")
                label.radio__label(for="woman") 
                    p.radio__label-text Женщина
