mixin radio
    .radio
        input(type="radio" name="sex" value="man" id="man")
        label(for="man") Мужчина
        input(type="radio" name="sex" value="woman" id="woman")
        label(for="woman") Женщина
