.landing-page__filter-image {
    height: 830px;
    background-image: url('/img/image3.jpg');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
}

.landing-page__filter-image .filter-main {
    position: absolute;
    top: 70px;
    left: 140px;
}

.landing-page__filter-image-text {
    margin: 0;
    position: absolute;
    bottom: 20px;
    right: 134px;
    width: 297px;
    height: 48px;
    font-family: Montserrat-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    /* or 171% */

    text-align: right;

    /* Dark 75% */

    /* color: $DShade75: rgba(31, 32, 65, 0.75);; */
}

.landing-page .big-footer__block {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.landing-page .small-footer {
    display: none;
}

.landing-page__filter-image-wrapper {
    max-width: 1440px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

@media (max-width: 990px) {
    .landing-page .big-footer {
        display: none;
    }

    .landing-page .small-footer {
        display: block;
        width: 100%;
        position: relative;
        left: auto;
    }
}

@media (max-width: 880px) {
    .landing-page .page-header__block--log,
    .landing-page .page-header__block--notlog {
        width: 100%;
        max-width: 100%;
        display: flex;
    }

    .landing-page .burger-button {
        display: block;
    }

    .landing-page .small-footer {
        display: block;
        width: 100%;
        position: relative;
        left: auto;
    }

    .landing-page .landing-page__filter-image .filter-main {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        top: auto;
        left: auto;
    }
    .landing-page__filter-image-text {
        bottom: 18px;
        right: 34px;
    }

    .landing-page .filter-main.moved-down {
        transition: 0.2s;
        transform: translateY(25px);
    }
}

@media (max-width: 379px) {
    .landing-page .landing-page__filter-image .filter-main {
        padding-top: 15px;
        width: 100%;
        margin: 0;
    }

    .filter-main .dropdown-block {
        margin-bottom: 15px;
    }

    .landing-page .double-date-dropdown-block {
        flex-direction: column;
        height: 130px;
    }

    .landing-page .double-date-dropdown-block__date-1 {
        height: 60px;
    }

    .landing-page .double-date-dropdown-block__date-2 {
        margin-left: 0;
        height: 60px;
    }

    .landing-page .double-date-dropdown-block__date-1 input,
    .landing-page .double-date-dropdown-block__date-2 input {
        width: 320px;
    }
}

@media (max-width: 334px) {
    .landing-page .landing-page__filter-image .filter-main {
        padding: 0;
    }
}

@media (min-width: 335px) and (max-width: 349px) {
    .landing-page .landing-page__filter-image .filter-main {
        padding-left: calc(100vw / 30);
    }
}

@media (min-width: 350px) and (max-width: 379px) {
    .landing-page .landing-page__filter-image .filter-main {
        padding-left: calc(100vw / 15);
    }
}
