.datepicker {
    width: 320px;
    min-height: 349px;
    border-radius: 4px;
    z-index: 100;
}

.datepicker--day-name {
    font-family: Montserrat-Bold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    /* Primary Color */

    color: $Purpule;
    text-transform: capitalize;
    width: 40px;
    height: 40px;
}

.datepicker--cell-day {
    font-family: Montserrat-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    /* Dark 50% */

    color: $DShade50;
}

.datepicker--cell.datepicker--cell-day.-current- {
    font-family: Montserrat-Bold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    color: #fff;
    background: linear-gradient(180deg, $Green 0%, #66d2ea 100%);
    border-radius: 22px;
    height: 40px;
    width: 40px;
}

.datepicker--cell.datepicker--cell-day.-in-range- {
    background: linear-gradient(180deg, $Purpule 0%, #8ba4f9 100%);
    opacity: 0.25;
}

.datepicker--cell.datepicker--cell-day.-in-range-:hover {
    border-radius: 0;
}

.datepicker--cell.datepicker--cell-day.-selected-,
.datepicker--cell.datepicker--cell-day.-selected-.-focus- {
    background: linear-gradient(180deg, $Purpule 0%, #8ba4f9 100%);
    border-radius: 22px;
}

.datepicker--cell.datepicker--cell-day {
    height: 40px;
    width: 40px;
}

.datepicker--cell.datepicker--cell-day:hover {
    border-radius: 22px;
}

.datepicker--cell.datepicker--cell-day.-range-from-.-selected-::after {
    position: absolute;
    right: 0;
    content: "";
    width: 20.14px;
    height: 40px;
    background: linear-gradient(180deg, $Purpule 0%, #8ba4f9 100%);
    opacity: 0.25;
}

.datepicker--cell.datepicker--cell-day.-range-to-.-selected-::after {
    position: absolute;
    left: 0;
    content: "";
    width: 20.14px;
    height: 40.44px;
    background: linear-gradient(180deg, $Purpule 0%, #8ba4f9 100%);
    opacity: 0.25;
    z-index: -1;
}

.datepicker--cell.datepicker--cell-day.-in-range-.-current- {
    border-radius: 0;
}

.datepicker--cell.datepicker--cell-day.-range-to-.-focus-::before {
    position: absolute;
    left: -1px;
    content: "";
    width: 20px;
    height: 40px;
    background: linear-gradient(180deg, $Purpule 0%, #8ba4f9 100%);
    z-index: -1;
}

.datepicker--cell.datepicker--cell-day.-range-from-.-focus-::before {
    position: absolute;
    right: -1px;
    content: "";
    width: 20px;
    height: 40px;
    background: linear-gradient(180deg, $Purpule 0%, #8ba4f9 100%);
    z-index: -1;
}

.datepicker--cell.datepicker--cell-day.-range-from-.-focus-,
.datepicker--cell.datepicker--cell-day.-range-to-.-focus- {
    background: linear-gradient(180deg, $Purpule 0%, #8ba4f9 100%);
    opacity: 0.25;
}

.datepicker--nav {
    border-bottom: none;
    margin-top: 15px;
    margin-bottom: 26px;
    padding: 0;
    padding-left: 16px;
    padding-right: 18px;
}

.datepicker--nav-title {
    font-family: Opensans-Bold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;

    /* identical to box height */

    text-align: center;

    /* Dark 100% */

    color: $DShade100;
}

.datepicker--nav-title i {
    font-family: Quicksand-Bold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;

    /* identical to box height */

    text-align: center;

    /* Dark 100% */

    color: $DShade100;
}

.datepicker--content {
    padding: 20px;
    padding-top: 0;
}

.datepicker--days-names {
    margin: 0;
}

.datepicker--buttons {
    border-top: none;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

.datepicker--button {
    height: 15px;
    font-family: Montserrat-Bold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    max-width: 84px;
    text-transform: uppercase;
    color: $Purpule;
    margin-bottom: 20px;
}

.datepicker--button:nth-child(1) {
    max-width: 72px;
    color: $DShade50;
}

.datepicker--cell.datepicker--cell-day.-range-from-.-selected-.-focus-,
.datepicker--cell.datepicker--cell-day.-range-to-.-selected-.-focus- {
    opacity: 1;
}

.datepicker--cell.datepicker--cell-day.-range-from-.-selected-.-focus-::before,
.datepicker--cell.datepicker--cell-day.-range-to-.-selected-.-focus-::before {
    content: none;
}

.datepicker--cell.datepicker--cell-day.-range-from-.-selected-.-focus-::after,
.datepicker--cell.datepicker--cell-day.-range-to-.-selected-.-focus-::after {
    content: none;
}

.datepicker--cell.datepicker--cell-day.-in-range-.-focus- {
    background: none;
}

.datepicker--nav-action svg {
    display: none;
}

.datepicker--nav-action::after {
    content: "arrow_back";
    font-family: "MaterialIcons-Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    display: block;

    /* Primary Color */

    color: $Purpule;
}

.datepicker--nav-action:nth-child(3)::after {
    content: "arrow_back";
    font-family: "MaterialIcons-Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    display: block;
    transform: rotate(-180deg);
    color: $Purpule;
}
