mixin like-button(h3,className,num)
    .like-button
        button.b(class=className)
            i.material-icons.like-button__not-liked favorite_border
            i.material-icons.like-button__liked favorite
            span.like__number=num 
        