footer.page-footer
    .page-footer-top
        ul.page-footer-section-1
            li 
                a.footer-logo.toxin-logo
            li 
                p.footer-text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        ul.page-footer-section-2
            li 
                h3 navigation
            li navLink('#','About Us')
            li +navLink('#','News')
            li navLink('#','Support')
            li navLink('#','Products')
        ul.page-footer-section-3
            li 
                h3 about us
            li navLink('#','Who we are')
            li navLink('#','Our team')
            li navLink('#','Careers')
            li navLink('#','Investors')
        ul.page-footer-section-4
            li 
                h3 support
            li navLink('#','Documentation')
            li navLink('#','Community')
            li navLink('#','Get in Touch')
        ul.page-footer-section-5
            li 
                h3 Subscribe to our newsletter
            li 
                p Receive our latest news and   
                promotions in your inbox!
            li 
                <input type="email" placeholder="Your email address">
    .page-footer-bottom
        p Copyright © 2018 Toxin UI Kit. All rights reserved.
        a.twitter
        a.facebook
        a.instagram
