mixin date-dropdown(options)
    <div class="one">
        <label for="start_one">Прибытие</label>
        <input type="text" placeholder="дд.мм.гггг" id="start_one" data-range="true" data-multiple-dates-separator=" - " class="datepicker-here"/>
        <label for="start_one">Выезд</label>
        <input type='text' placeholder="дд.мм.гггг" id='end_one'>