mixin fontText(options)
    .fontText
            .text-block
                <span class="fontText-h1-demo">h1</span> 
                <h1>This one is the sub-section or widget title</h1>
            .text-block    
                <span class="fontText-h2-demo">h2</span>
                <h2> Next one is the item title inside widgets</h2>
            .text-block.text-block_prelast
                <span class="fontText-h3-demo">h3</span>
                <h3>This is a label or CTA text</h3>
            .text-block
                <span class="fontText-body-demo">Body</span>
                <span class="body-fontText"> This is the body text which is used for most of the design, like paragraphs, lists, etc.</span>