@import "../src/assets/fonts/Quicksand-Bold.ttf";
@import "../src/assets/fonts/Quicksand-Regular.ttf";
@import "../src/assets/fonts/Montserrat-Bold.ttf";
@import "../src/assets/fonts/Montserrat-Regular.ttf";
@font-face{
font-family: Quicksand-Bold;
src:url('../src/assets/fonts/Quicksand-Bold.ttf')  format('truetype');
font-weight: bold;
}
@font-face{
font-family: Quicksand-Regular;
src:url('../src/assets/fonts/Quicksand-Regular.ttf')  format('truetype');
font-weight: normal;
}

@font-face{
font-family: Montserrat-Bold;
src:url('../src/assets/fonts/Montserrat-Bold.ttf')  format('truetype');
font-weight: bold;
}
@font-face{
font-family: Montserrat-Regular;
src:url('../src/assets/fonts/Montserrat-Regular.ttf')  format('truetype');
font-weight: normal;
}
.fontText{
display: flex;
flex-direction: column;
grid-column-start: 4;
grid-column-end: 4;
grid-row-start: 2;
grid-row-end: 2;
}
.text-block{

margin-bottom:50px;
display: flex;
flex-direction: row;

}
.fontText h1{
    font-family: Quicksand-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    padding-left: 5px;
    
}
.fontText h2{
    font-family: Quicksand-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    margin: 0;
    
}
.fontText h3{
    font-family: Montserrat-Bold;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;
margin: 0;

}
.body-fontText{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    
    /* Dark 75% */
    
    color: $DShade75;
   padding-right: 25px;
   margin-bottom: 20px;
  
}
.fontText-h1-demo{
    font-family: Montserrat-Regular;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
/* identical to box height */
text-transform: uppercase;
text-align: right;

/* Dark 25% */


color: $DShade25;
padding-right: 25px;
padding-left:8px;

}
.fontText-h2-demo{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    text-transform: uppercase;
    /* identical to box height */
 
    text-align: right;
    
    /* Dark 25% */
    color: $DShade25;
    padding-right: 30px;
    padding-left: 10px;
}
.fontText-h3-demo{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    

    text-align: right;
    text-transform: uppercase;
    
    /* Dark 25% */
    
    color: $DShade25;
    padding-left: 20px;
    padding-right: 30px;
    
    
}
.fontText-body-demo{
font-family: Montserrat-Regular;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

text-align: right;

/* Dark 25% */
color: $DShade25;
padding-right: 30px;


}
.text-block_prelast{
    margin-bottom: 46px;
}

