mixin expandable-checkbox-list(buttonsName,activeClass,disabled)
    .expandable-checkbox-list-block
            .button-wrapper(class=activeClass)
                button.collapsible #{buttonsName}
            if disabled != true
                .expandable-checkbox-buttons
                    .expandable-checkbox-buttons__checkbox-block
                        input.expandable-checkbox-buttons__checkbox(type="checkbox" id="break")
                        label.expandable-checkbox-buttons__checkbox-label(for = "break") Завтрак
                    .expandable-checkbox-buttons__checkbox-block
                        input.expandable-checkbox-buttons__checkbox(type="checkbox" id="table")
                        label.expandable-checkbox-buttons__checkbox-label(for = "table") Письменный стол
                    .expandable-checkbox-buttons__checkbox-block
                        input.expandable-checkbox-buttons__checkbox(type="checkbox" id="chair")
                        label.expandable-checkbox-buttons__checkbox-label(for = "chair") Стул для кормления
                    .expandable-checkbox-buttons__checkbox-block
                        input.expandable-checkbox-buttons__checkbox(type="checkbox" id="bed")
                        label.expandable-checkbox-buttons__checkbox-label(for = "bed") Кроватка
                    .expandable-checkbox-buttons__checkbox-block
                        input.expandable-checkbox-buttons__checkbox(type="checkbox" id="tv")
                        label.expandable-checkbox-buttons__checkbox-label(for = "tv") Телевизор
                    .expandable-checkbox-buttons__checkbox-block
                        input.expandable-checkbox-buttons__checkbox(type="checkbox" id="shower")
                        label.expandable-checkbox-buttons__checkbox-label(for = "shower") Шампунь
            