mixin range-slider(h3)
        .range-slider
                .range-slider__header
                        h3.range-slider__title=h3
                        <p class="range-slider-value"><span class="sliderValue1" id="val1">5 000</span>₽ - <span class="sliderValue2" id="val2">10 000</span>₽</p>
                <input class="js-range-slider" type="text" id="rangeSlider" name="range" value="" />
                p.range-slider__text Стоимость за сутки пребывания в номере