mixin range-slider(options) 
        <p><span class="sliderValue1" id="val1">5000</span>₽-<span class="sliderValue2" id="val2">10000</span>₽</p>
        <input class="js-range-slider" type="text" id="rangeSlider" name="range" value="" />