mixin range-slider(options) 

    <p>
    <label for="amount">Price range:</label>
    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">

    
    <div id="slider-range"></div>