mixin subscription-text-field
    .subscription-text-field-block
        form(action="", method="get")
            .subscription-text-field
                +text-field("subscription text field",none,"email","text","Email")
                button.sub-button(type="submit" value="") arrow_forward