.subscription-text-field{
    position: relative;
    width:267px;
}
.subscription-text-field .text-field{
    width:267px;
}
.sub-button{
    font-family: "MaterialIcons-Regular";
    font-size: 24px;
    line-height: 24px;
    color: #BC9CFF;
    background-image: none;

    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: inherit;
    

   border: none;
    padding: 10px;
}
.big-footer__copyright{
    font-family: Montserrat-Regular;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

/* Dark 75% */

color: rgba(31, 32, 65, 0.75);
}