include ../text-field/text-field

mixin subscription-text-field(text)
    .subscription-text-field-block
        form(action="", method="get")
            .subscription-text-field
                +text-field(text,none,"email","text","Email")
                button.sub-button(type="submit" value="") arrow_forward