mixin colors(options)
    .colors
        .colors-darkShade100.colors-block
            .darkShade100-angle.angle
            .data-block
                h2 Dark Shade 100%
                p #1F2041
        .colors-darkShade75.colors-block
            .darkShade75-angle.angle
            .data-block
                h2 Dark Shade 75%
                p #1F2041
        .colors-darkShade50.colors-block
            .darkShade50-angle.angle
            .data-block
                h2 Dark Shade 50%
                p #1F2041
        .colors-darkShade25.colors-block
            .darkShade25-angle.angle
            .data-block
                h2 Dark Shade 25%
                p #1F2041
        .colors-darkShade5.colors-block
            .darkShade5-angle.angle
            .data-block
                h2 Dark Shade 5%
                p #1F2041
        .colors-purple.colors-block
            .purple-angle.angle
            .data-block
                h2 Purple
                p $Purpule
        .colors-green.colors-block
            .green-angle.angle
            .data-block
                h2 Green
                p #6FCF97