include ../toxin-logo/toxin-logo
include ../buttons/buttons

mixin navLink(link,name,special)
    li(class=special)
        a(href=link).nav-link
            p.navLink-text=name
mixin page-header(isLog)
    if isLog==true
        header.page-header.page-header--log
                .page-header__block--log
                    a(href="landing-page.html").page-header__logo 
                        +toxin-logo
                    ul.page-header__nav
                        +navLink('#','О нас')
                        li.page-header__services
                                a(href="#").nav-link 
                                    p.page-header__services-text Услуги
                                ul.page-header__sevices-list 
                                        +navLink('#','Такси от аэропорта')
                                        +navLink('#','Камера хранения')
                                        +navLink('#','SPA')
                        +navLink('#','Вакансии')
                        +navLink('#','Новости')
                        li.page-header__agree
                                a(href="#").nav-link
                                    p.agree-text Соглашения
                                ul.page-header__agree-list 
                                        +navLink('#','Партнеры')
                                        +navLink('#','Поставщики')
                                        +navLink('#','Франшиза')
                        +navLink('#','Юлий Цезарь','page-header__username')
                span.page-header__burger-button.burger-button
                    .burger-button__icon                                
    if isLog==false
        header.page-header.page-header--notlog
                .page-header__block.page-header__block--notlog
                    a(href="landing-page.html").page-header__logo 
                        +toxin-logo
                    ul.page-header__nav
                        +navLink('#','О нас')
                        li.page-header__services
                                a(href="#").nav-link 
                                    p.page-header__services-text Услуги
                                    ul.page-header__sevices-list 
                                        +navLink('#','SPA')
                                        +navLink('#','Такси от аэропорта')
                                        +navLink('#','Камера хранения')
                        +navLink('#','Вакансии')
                        +navLink('#','Новости')
                        li.page-header__agree
                                a(href="#").nav-link
                                    p.agree-text Соглашения
                                    ul.page-header__agree-list 
                                        +navLink('#','Партнеры')
                                        +navLink('#','Поставщики')
                                        +navLink('#','Франшиза')
                    .page-header__button-block
                        +button-white('войти','','login-page.html')
                        +button-purpule('зарегистрироваться','','registration-page.html')
                span.page-header__burger-button.burger-button
                    .burger-button__icon
