include ../toxin-logo/toxin-logo
include ../buttons/buttons

mixin navLink(link,name,special)
    li(class=special)
        a(href=link).nav-link
            p.navLink-text=name
mixin page-header(isLog)
    if isLog==true
        header.page-header--log
                .page-header__block--log
                    a.page-header--logo 
                        +toxin-logo
                    ul.page-header--nav
                        +navLink('#','О нас','page-header--current')
                        li.page-header--services
                                a(href="#").nav-link 
                                    p.services-text Услуги
                                ul.page-header-sevices-list 
                                        +navLink('#','Такси от аэропорта')
                                        +navLink('#','Камера хранения')
                                        +navLink('#','SPA')
                        +navLink('#','Вакансии')
                        +navLink('#','Новости')
                        li.page-header--agree
                                a(href="#").nav-link
                                    p.agree-text Соглашения
                                ul.page-header-agree-list 
                                        +navLink('#','Партнеры')
                                        +navLink('#','Поставщики')
                                        +navLink('#','Франшиза')
                        +navLink('#','Юлий Цезарь','page-header__username')
                span.burger-button
                    .burger-button__icon                                
    if isLog==false
        header.page-header--notlog
                .page-header__block--notlog
                    a.page-header--logo 
                        +toxin-logo
                    ul.page-header--nav
                        +navLink('#','О нас','page-header--current')
                        li.page-header--services
                                a(href="#").nav-link 
                                    p.services-text Услуги
                                    ul.page-header-sevices-list 
                                        +navLink('#','SPA')
                                        +navLink('#','Такси от аэропорта')
                                        +navLink('#','Камера хранения')
                        +navLink('#','Вакансии')
                        +navLink('#','Новости')
                        li.page-header--agree
                                a(href="#").nav-link
                                    p.agree-text Соглашения
                                    ul.page-header-agree-list 
                                        +navLink('#','Партнеры')
                                        +navLink('#','Поставщики')
                                        +navLink('#','Франшиза')
                    .page-header__button-block        
                        +button-white("войти")
                        +button-purpule("зарегистрироваться")
                span.burger-button
                    .burger-button__icon       
