mixin small-footer
    footer.small-footer
            +toxin-logo
            .small-footer-bottom
                p.small-footer__copyright Copyright © 2018 Toxin отель. Все права зачищены.
                .small-footer__social-link
                ul.social-link--list
                    li.social-link__social-item
                        a.twitter 
                    li.social-link__social-item
                        a.facebook 
                    li.social-link__social-item
                        a.instagram 