.small-footer {
    width: 768px;
    height: 367px;
    background-color: #fff;
    position: relative;
    left: 336px;
    padding-top: 119px;
    padding-bottom: 120px;
}

.small-footer .toxin-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.small-footer__copyright {
    font-family: Montserrat-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    /* Dark 75% */

    color: $DShade75;
    margin-top: 18px;
    margin-bottom: 25px;
}

.small-footer .small-footer__social-link-list {
    font-family: Font-Awesome-5-Brands, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;

    /* identical to box height */

    display: flex;
    color: $Purpule;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.small-footer__social-item {
    margin-right: 22px;
}

.small-footer__social-item:last-child {
    margin-right: 0;
}
