@import "../node_modules/air-datepicker/dist/css/datepicker.min.css";

.double-date-dropdown-block__title-1,
.double-date-dropdown-block__title-2 {
    font-family: Montserrat-Bold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    margin-bottom: 5.4px;
}

input.datepicker-here,
input.dates {
    width: 150px;
    height: 44px;
    background: #fff;
    border: 1px solid $DShade25;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;
    font-family: Montserrat-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $DShade75;
}

.double-date-dropdown-block__date-2 {
    margin-left: 20px;
}

.double-date-dropdown-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 320px;
    height: 65px;
}

.double-date-dropdown-block__date-1::after,
.double-date-dropdown-block__date-2::after {
    content: "expand_more";
    font-family: "MaterialIcons-Regular", sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: $DShade50;
    background-image: none;
    position: relative;
    bottom: 34px;
    left: 116px;
    // transform: rotate(-180deg);
    width: 10px;
    height: 10px;
    display: inline-block;
}

.double-date-dropdown-block__date-1.datepicker-activated::after,
.double-date-dropdown-block__date-2.datepicker-activated::after {
    background-image: none;
    content: "expand_more";
    font-family: "MaterialIcons-Regular", sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: $DShade50;
    position: relative;
    bottom: 20px;
    left: 130px;
    width: 10px;
    height: 10px;
    transform: rotate(-180deg);
    display: inline-block;
}

@media (max-width: 379px) {
    .landing-page .double-date-dropdown-block__date-1::after,
    .landing-page .double-date-dropdown-block__date-2::after {
        left: 285px;
        right: auto;
    }

    .landing-page .datepicker-activated.double-date-dropdown-block__date-1::after,
    .landing-page .datepicker-activated.double-date-dropdown-block__date-2::after {
        left: 300px;
    }
}
