extends main

block variables
  - var pageTitle = '123'
  - var youAreUsingPug = true

block content
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on shit!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
      include ../components/big-footer/big-footer