//- include ../models/form-elements
//- include ../models/cards
//- include ../models/headers-footers

include ../components/header-main/header-main
include ../components/big-footer/big-footer
include ../components/preloader/preloader
include ../components/small-footer/small-footer
include ../cards/filter-main-card/filter-main-card

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        title landing-page
    body.landing-page
        +preloader
        +page-header(false)
        main.landing-page__main-block
            .landing-page__filter-image
                .landing-page__filter-image-wrapper
                    +filter-main-card
                    p.landing-page__filter-image-text Лучшие номера для вашей работы, отдыха и просто вдохновения
        +big-footer
        +small-footer