.login-block {
    background-image: url('.../../assets/registration-page-image .jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    max-height: 702px;
    padding-top: 172px;
    padding-bottom: 172px;
}

.login-page .small-footer {
    display: none;
}

.login-block .login-card {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 990px) {
    .login-page .big-footer {
        display: none;
    }

    .login-page .small-footer {
        display: block;
        width: 100%;
        position: relative;
        left: auto;
    }
}

@media (max-width: 880px) {
    .login-page .burger-button {
        display: block;
    }

    .login-page .page-header__block--log,
    .login-page .page-header__block--notlog {
        width: 100%;
        max-width: 100%;
        display: flex;
    }
}
