.registartion-singin-block{

    background-image: url('.../../assets/registration-page-image .jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:bottom;
    max-height: 702px;
    padding-top: 172px;
    padding-bottom: 172px;
}
.registartion-singin-block .registration-card,
.registartion-singin-block .login-card{
    margin-left: auto;
    margin-right: auto;
}