include ../components/header-main/header-main
include ../components/big-footer/big-footer
include ../cards/registration-card/registration-card
include ../cards/login-card/login-card

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body.registration-signin-page
        +page-header(true)
        section.registartion-singin-block
            //- +registration-card
            +login-card
        +big-footer