include ../components/header-main/header-main
include ../components/big-footer/big-footer
include ../components/small-footer/small-footer
include ../components/preloader/preloader
include ../cards/registration-card/registration-card
include ../cards/login-card/login-card

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title registration-page
    body.registration-page
        +preloader
        +page-header(false)
        section.registartion-block
            +registration-card
        +big-footer
        +small-footer