include ../components/header-main/header-main
include ../cards/booking-card/booking-card
include ../components/features/features
include ../components/feedback/feedback
include ../components/bullet-list/bullet-list
include ../components/big-footer/big-footer
include ../components/small-footer/small-footer
include ../components/preloader/preloader
   
doctype html
html(lang="ru")
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title room-details
        body.room-details
            +preloader
            +page-header(false)
            main.room-details__block
                section.room-details__room-image.revealator-fade.revealator-once
                    img.room-details__room-image-main(src="src/assets/rooms-image/room-image1.jpg"   alt="")
                    .room-details__room-image-small-block
                        img.room-details__image-small1(src="src/assets/rooms-image/room-image2.jpg"  alt="")
                        img.room-details__image-small2(src="src/assets/rooms-image/room-image3.jpg"  alt="")
                section.room-details__details-book
                    .room-details__room-details
                        .room-details__features-block.revealator-fade.revealator-once
                            h1.room-details__features-title Сведения о номере
                            +features("insert_emoticon","Комфорт","Шумопоглощающие стены")
                            +features("location_city","Удобство","Окно в каждой из спален")
                            +features("whatshot","Уют","Номер оснащён камином")
                        .room-details__room-impressions.revealator-fade.revealator-once.revealator-delay3
                            h1.room-details__impressions-title Впечатления от номера
                            .room-details__impressions-block
                                <figure class="chart" data-percent="100">
                                    <svg width="120" height="121">
                                        <g transform="scale(-1, 1), rotate(-90)">
                                            <circle class="outer2" cx="-60" cy="-60" r="58" />
                                            <circle class="outer1" cx="-60" cy="-60" r="58" />
                                            <circle class="outer" cx="-60" cy="-60" r="58" />
                                        </g>
                                    </svg>
                                    <p class="vote-count"><span class="vote-count__number" id="nbr">260</span> <span class="vote-count__text">голосов</span></p>
                                </figure>
                                .room-details__impressions-text-block
                                    ul.room-details__impressions-list
                                        li.room-details__impression-item1 
                                            p.room-details__impression-list-text Великолепно
                                        li.room-details__impression-item2 
                                            p.room-details__impression-list-text Хорошо
                                        li.room-details__impression-item3 
                                            p.room-details__impression-list-text Удовлетворительно
                                        li.room-details__impression-item4 
                                            p.room-details__impression-list-text Разочарован
                        .room-details__room-feedbacks.revealator-fade.revealator-once
                            .room-details__feedback-header
                                h1.room-details__feedback-title Отзывы посетителей номера
                                p.room-details__feedbacks-count 2 отзыва
                            +feedback("Мурад Сарафанов","5 дней назад","Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.","src/assets/author-1.jpg","like__btn1 animated liked feedback_btn","12")
                            +feedback("Патрисия Стёклышкова","Неделю назад","Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент","src/assets/author-2.jpg","like__btn2 animated feedback_btn","2")
                        .room-details__room-rules.revealator-fade.revealator-once.revealator-delay1
                            h1.room-details__rules-title Правила
                            +bullet-list
                        .room-details__book-cancel.revealator-fade.revealator-once.revealator-delay1
                            h1.room-details__book-cancel-title Отмена
                            p.room-details__book-cancel-text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
                    .room-details__book-details.revealator-fade.revealator-once(id="room-book")
                        +booking-card
                    .room-details__book-anchor-button(id="anchor-button")
                        a(href="#room-book").room-details__anchor-button-text Забронировать !
            +big-footer
            +small-footer

                    

