include ../components/header-main/header-main
include ../components/big-footer/big-footer
include ../components/small-footer/small-footer
include ../components/filter-date-dropdown/filter-date-dropdown
include ../components/dropdown/dropdown
include ../components/range-slider/range-slider
include ../components/checkbox-buttons/checkbox-buttons
include ../components/rich-checkbox-buttons/rich-checkbox-buttons
include ../components/dropdown/dropdown
include ../components/expandable-checkbox-list/expandable-checkbox-list
include ../components/pagination/pagination
include ../cards/item-card/item-card
include ../components/preloader/preloader


doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        title rooms-catalog
    body.rooms-catalog
        +preloader
        +page-header(false)
        main.rooms-catalog__main
            .rooms-catalog__main-wrapper
                aside.filter-block
                    span.filter-block__close-button
                            .filter-block__close-button-icon 
                    .filter-block__filter-block-wrapper
                        +filter-date-dropdown("даты пребывания в отеле","Выберите даты пребывания")
                        +dropdown({type:'guests'},"гости","","","dropdown-guests")
                        +range-slider("диапазон цены")
                        +checkbox-buttons("Checkbox Buttons")
                        +rich-checkbox-buttons("доступность")
                        +dropdown({type:'rooms'},"удобства номера","","","dropdown-rooms")
                        +expandable-checkbox-list("дополнительные удобства")
                        +button-purpule-large("применить")
                section.rooms-catalog__catalog-block
                    h1.rooms-catalog__catalog-block-title Номера, которые мы для вас подобрали
                        +button-purpule-large("фильтры")
                    +item-card('rating5',888,' люкс','9 990₽ ','145 ',"../src/assets/rooms-preview/room1.jpg")
                    +item-card('rating4',840,'','9 900₽ ','65 ',"../src/assets/rooms-preview/room2.jpg")
                    +item-card('rating3',980,' люкс','8 500₽ ','35 ',"../src/assets/rooms-preview/room3.jpg")
                    +item-card('rating5',856,'','7 300₽ ','19 ',"../src/assets/rooms-preview/room4.jpg")
                    +item-card('rating4',740,'','6 000₽ ','44 ',"../src/assets/rooms-preview/room5.jpg")
                    +item-card('rating3',982,'','5 800₽ ','56 ',"../src/assets/rooms-preview/room6.jpg")
                    +item-card('rating5',678,'','5 500₽ ','45 ',"../src/assets/rooms-preview/room7.jpg")
                    +item-card('rating4',450,'','5 300₽ ','39 ',"../src/assets/rooms-preview/room8.jpg")
                    +item-card('rating3',350,'','5 000₽ ','77 ',"../src/assets/rooms-preview/room9.jpg")
                    +item-card('rating5',666,'','5 000₽ ','25 ',"../src/assets/rooms-preview/room10.jpg")
                    +item-card('rating3',444,'','5 000₽ ','15 ',"../src/assets/rooms-preview/room11.jpg")
                    +item-card('rating3',352,'','5 000₽ ','55 ',"../src/assets/rooms-preview/room12.jpg")
                section.rooms-catalog__pagination-block
                    +pagination
        +big-footer
        +small-footer