include ../components/text-field/text-field
include ../components/dropdown/dropdown
include ../components/double-date-dropdown/double-date-dropdown
include ../components/filter-date-dropdown/filter-date-dropdown
include ../components/range-slider/range-slider
include ../components/colors/colors
include ../components/fontText/fontText
include ../components/masked-text-field/masked-text-field
include ../components/subscription-text-field/subscription-text-field
include ../components/checkbox-buttons/checkbox-buttons
include ../components/radio/radio
include ../components/toggle/toggle
include ../components/like-button/like-button
include ../components/rate-button/rate-button
include ../components/buttons/buttons
include ../components/pagination/pagination
include ../components/expandable-checkbox-list/expandable-checkbox-list
include ../components/rich-checkbox-buttons/rich-checkbox-buttons
include ../components/bullet-list/bullet-list
include ../components/features/features
include ../components/feedback/feedback
include ../cards/filter-main-card/filter-main-card
include ../cards/booking-card/booking-card
include ../cards/datepicker-card/datepicker-card
include ../cards/registration-card/registration-card
include ../cards/login-card/login-card
include ../cards/item-card/item-card

doctype html
html(lang="en")
  head
    title= UI-kit-pages
  body
    //- +text-field("email","text", "Email")
    //- +text-field("textfield","text", "This is pretty awesome")
    //- 
    //- +dropdown({type:'rooms'})
    //- +date-dropdown(options)
    main
    section.color-type
      +colors(options)
      +fontText(options)
    section.form-elements
      .block-1
        +text-field("text field","default","email","text", "Email","","default")
        +text-field("text field","Hover / Focus","email","text", "Email","This is pretty awesome","hover")
        +dropdown({type:'empty'},"Dropdown","Default")
        +masked-text-field("masked text field","Default","ДД.ММ.ГГГГ","default")
        +double-date-dropdown("date Dropdown","date Dropdown","ДД.ММ.ГГГГ","19.08.2019")
        +filter-date-dropdown("filter date dropdown")
        +subscription-text-field
      .block-2
        +checkbox-buttons("Checkbox Buttons")
        +radio("Radio Buttons")
        .toggle-block
          h3.toggle-title toggle
          +toggle("Toggle","checked","get1")
          +toggle(none,none,"get2")
        h3.like-button-title like button
        .like-button-block
          +like-button("like button","like__btn1 animated","2")
          +like-button(none,"like__btn2 animated liked","12")
        h3.rate-button-title rate button
        .rate-button-block
          +rate-button("rating1","rate button")
          +rate-button("rating2")
      .block-3
        +range-slider("Range Slider")
        h3.buttons-title buttons
        .buttons
          .buttons-purpule
            +button-purpule("click me")
            +button-purpule("click me","hover")
          .buttons-white
            +button-white("click me")
            +button-white("click me","hover")
          .buttons-form
            +button-submit("click me")
            +button-clear("click me")
        +button-purpule-large("перейти к оплате")
        +pagination("pagination")
      .block-4
        +dropdown({type:'rooms'},"dropdown","default","","minwidth")
        +dropdown({type:'rooms'},"dropdown","expanded","menu-open","minwidth")
      .block-5
        +dropdown({type:'guests'},"dropdown","","menu-open")
      .block-6
        +dropdown({type:'guests'},"dropdown","","menu-open")
      .block-7
        +expandable-checkbox-list
        +expandable-checkbox-list
      .block-8
        +rich-checkbox-buttons('rich Checkbox Buttons')
      .block-9
        +bullet-list("Bullet List")
      .block-10
        +features
      .block-11
        +feedback("Мурад Сарафанов","5 дней назад","Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.","src/components/feedback/author-1.jpg")
    section.cards
        +filter-main-card
        +booking-card
        +datepicker-card
        +registration-card
        +login-card
        +item-card
        +item-card