@import "../components/big-footer/big-footer.scss";
@import "../components/dropdown/dropdown.scss";
@import "../components/date-dropdown/date-dropdown.scss";
@import "../components/range-slider/range-slider.scss";
@import "../components/colors/colors.scss";
@import "../components/fontText/fontText.scss";
.color-type{
    display: grid;
    grid-template-rows: 145px 321px 289px 145px;
    grid-template-columns:150px 270px 427px 403px 191px; 
    background: url("./assets/Group.svg");
    background-repeat: no-repeat;
    background-position: 30px 30px;
}
