@import "../node_modules/air-datepicker/dist/css/datepicker.min.css";
.filter-date-dropdown-block{
    margin-bottom: 41px;
    max-width: 266px;
    max-height: 65px;
}
.filte-date-dropdown-title{
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    margin-bottom:5px;
}
.datepicker-here.filte-date-dropdown{
width: 266px;
height: 44px;
font-family: Montserrat-Regular;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */


/* Dark 75% */

color: rgba(31, 32, 65, 0.75);

margin: 0;
}
.filter-date-dropdown-block::after{
    content: "expand_more";
    font-family: "MaterialIcons-Regular";
    font-size: 24px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.5);
    background-image: none;
    position: relative;
    left: 232px;
    bottom: 32px;
    // transform: rotate(-180deg);
    width: 10px;
    height: 10px;
    display: inline-block;
}
.filter-date-dropdown-block.datepicker-activated::after{
    background-image: none;
    content: "expand_more";
    font-family: "MaterialIcons-Regular";
    font-size: 24px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.5);
    position: relative;
    left: 245px;
    bottom: 22px;
    width: 10px;
    height: 10px;
    display: block;
    transform: rotate(-180deg);
    display: inline-block;
}
