.feedback__profile-image {
    width: 47.67px;
    height: 48px;
    border: 2px solid #fff;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.1);
    border-radius: 32px;
    margin-right: 10px;
}

.feedback__header {
    display: flex;
    margin-bottom: 10px;
}

.feedback__footer {
    display: flex;
}

.feedback__profile-name {
    margin: 0;
    padding: 0;
    font-family: Montserrat-Bold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: $DShade75;
}

.feedback__comment-date {
    margin: 0;
    padding: 0;
    font-family: Montserrat-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $DShade75;
}

.feedback__text {
    margin: 0;
    padding: 0;
    font-family: Montserrat-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $DShade75;
    margin-left: 4px;
}

.feedback_btn {
    margin-left: 4px;
    margin-top: 1px;
}

.feedback {
    margin-top: 10px;
    max-width: 711px;
}
