include ../like-button/like-button

mixin feedback(name,date,text,path,likeclass,likes)
    .feedback
        .feedback-header
            img.profile-image(src=path, alt="")
            .feedback-header-text
                h4.profile-name=name
                p.comment-date=date
        .feedback-footer
            +like-button("",likeclass,likes)
            p.feedback-text=text
            
