.profile-image{
    width: 47.67px;
    height: 48px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
    border-radius: 32px;
    margin-right: 10px;
    
}
.feedback-header{
display: flex;
margin-bottom: 10px;
}
.feedback-footer{
display: flex;
}
.profile-name{
margin: 0;
padding: 0;

font-family: Montserrat-Bold;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* Dark 75% */

color: rgba(31, 32, 65, 0.75);
}
.comment-date{
    margin: 0;
    padding: 0;

    font-family: Montserrat-Regular;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* Dark 75% */

color: rgba(31, 32, 65, 0.75);
}
.feedback-text{
margin: 0;
padding: 0;

font-family: Montserrat-Regular;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* Dark 75% */

color: rgba(31, 32, 65, 0.75);

margin-left: 4px;
}
.feedback_btn{
     margin-left: 4px;
     margin-top: 1px;
}
.feedback{
margin-top: 10px;
}