include ../like-button/like-button

mixin feedback(name,date,text,path,likeclass,likes)
    .feedback
        .feedback__header
            img.feedback__profile-image(src=path, alt="")
            .feedback__header-text
                h4.feedback__profile-name=name
                p.feedback__comment-date=date
        .feedback__footer
            +like-button("",likeclass,likes)
            p.feedback__text=text
            
