mixin bullet-list(h3)
        h3.bullet-list-title=h3
        ul.bullet-list
            li.bullet-list__item
                p.bullet-list__text Нельзя с питомцами
            li.bullet-list__item
                p.bullet-list__text Без вечеринок и мероприятий
            li.bullet-list__item 
                p.bullet-list__text Время прибытия — после 13:00, а выезд до 12:00