mixin features(icon,title,text)
    .feature-block
        i.material-icons.feature-block__feature-icon=icon  
        .feature-block__feature-text
            h4.feature-block__feature-title=title
            p.feature-block__feature-text=text