mixin features
    .feature
        i.material-icons.feature-icon  insert_emoticon
        .features-text
            h4.feature-title Комфорт
            p.feature-text Шумопоглощающие стены
    .feature
        i.material-icons.feature-icon  location_city
        .features-text
            h4.feature-title Удобство
            p.feature-text Окно в каждой из спален
