mixin toggle(h3,checked,id)
        .toggle
                label.switch 
                        input(type="checkbox" name="special" checked=checked id=id)
                        span.slider.round
                label.toggle-slider(for=id) Получать спецпредложения