.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 6px;
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: inherit;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    bottom: 3px;
    left: 3px;
    right: 2px;
    background: rgba(31, 32, 65, 0.25);
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  input:checked + .slider:before{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    
  }
  input:checked + .slider {
    background-color: inherit;
    border: 1px solid #BC9CFF;
    
  }
  input + .slider{
    border: 1px solid rgba(31, 32, 65, 0.25);
    
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    
    
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    
  }
  
  .slider.round:before {
    border-radius: 50%;
    
  }
  .toggle-title{
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    /* Dark 100% */
    
    color: #1F2041;
    margin: 0;
    padding: 0;
    margin-bottom: 14px;
  }
  .toggle-slider{
    font-family: Montserrat-Regular;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */


/* Dark 75% */

color: rgba(31, 32, 65, 0.75);
margin: 0;
  }
  .toggle{
  margin-bottom: 10px;
  }
  .toggle-block{
    margin-bottom: 43.5px;
  }