@import "../cards/filter-main-card/filter-main-card.scss";
@import "../cards/booking-card/booking-card.scss";
@import "../cards/datepicker-card/datepicker-card.scss";
@import "../cards/registration-card/registration-card.scss";
@import "../cards/login-card/login-card.scss";
@import "../cards/item-card/item-card.scss";

.cards{
    max-height: 1440px;
    background-color: #E5E5E5;
    display: grid;
    grid-template-columns: 140px 380px 40px 380px 40px 320px 140px;
    grid-template-rows: 150px 374px 40px 97px 40px 509px 140px;
    background-image: url("./assets/Group.svg");
    background-repeat: no-repeat;
    background-position: 30px 30px;
    
}
.cards .block-1{
    grid-column-start:2;
    grid-column-end:2;
    grid-row-start: 2;
    grid-row-end: 2;
    }
.cards .block-2{
    grid-column-start:4;
    grid-column-end:4;
    grid-row-start: 2;
    grid-row-end:4;
    }
.cards .block-3{
    grid-column-start:6;
    grid-column-end:6;
    grid-row-start: 2;
    grid-row-end:2;
    }
.cards .block-4{
    grid-column-start:2;
    grid-column-end:2;
    grid-row-start:4;
    grid-row-end:6;
    }
.cards .block-5{
    grid-column-start:4;
    grid-column-end:4;
    grid-row-start:6;
    grid-row-end:6;
    }
.cards .block-6{
    grid-column-start:6;
    grid-column-end:6;
    grid-row-start:4;
    grid-row-end:7;
    }
.cards .block-6 .item-card:first-child{
    margin-top: -5px;
    }
.cards .block-6 .item-card:nth-child(2){
    margin-top: 39.5px;
    }