@import "../cards/filter-main-card/filter-main-card.scss";
@import "../cards/booking-card/booking-card.scss";
@import "../cards/datepicker-card/datepicker-card.scss";
@import "../cards/registration-card/registration-card.scss";
@import "../cards/login-card/login-card.scss";
@import "../cards/item-card/item-card.scss";

.cards {
    max-height: 1440px;
    background-color: #e5e5e5;
    background-image: url("./assets/Group.svg");
    background-repeat: no-repeat;
    background-position: 30px 30px;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 150px;
    padding-bottom: 140px;
}

.cards__wrapper {
    max-height: 1440px;
    display: grid;
    grid-template-columns: 380px 40px 380px 40px 320px;
    grid-template-rows: 374px 40px 97px 40px 509px;
}

.cards__wrapper .block-1 {
    grid-column: 1;
    grid-row: 1;
}

.cards__wrapper .block-2 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.cards__wrapper .block-3 {
    grid-column-start: 5;
    grid-row: 1;
}

.cards__wrapper .block-4 {
    grid-column: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}

.cards__wrapper .block-5 {
    grid-column: 3;
    grid-row: 5;
}

.cards__wrapper .block-6 {
    grid-column: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.cards__wrapper .block-6 .item-card:first-child {
    margin-top: -5px;
}

.cards__wrapper .block-6 .item-card:nth-child(2) {
    margin-top: 39.5px;
}
