@import "../components/colors/colors.scss";
@import "../components/fontText/fontText.scss";

.color-type {
    background: url("./assets/Group.svg");
    background-repeat: no-repeat;
    background-position: 30px 30px;
    max-height: 900px;
    border-bottom: 1px solid black;
    width: 100%;
    padding-left: 150px;
    padding-right: 191px;
    padding-top: 145px;
    padding-bottom: 145px;
}

.color-type__wrapper {
    display: grid;
    grid-template-rows: 321px 289px;
    grid-template-columns: 270px 427px 403px;
    max-height: 900px;
    width: 100%;
}
