@import "../components/dropdown/dropdown.scss";
@import "../components/double-date-dropdown/double-date-dropdown.scss";
@import "../components/range-slider/range-slider.scss";
@import "../components/like-button/like-button.scss";
@import "../components/rate-button/rate-button.scss";
@import "../components/expandable-checkbox-list/expandable-checkbox-list.scss";
@import "../components/text-field/text-field.scss";
@import "../components/masked-text-field/masked-text-field.scss";
@import "../components/filter-date-dropdown/filter-date-dropdown.scss";
@import "../components/subscription-text-field/subscription-text-field.scss";
@import "../components/checkbox-buttons/checkbox-buttons.scss";
@import "../components/radio/radio.scss";
@import "../components/toggle/toggle.scss";
@import "../components/buttons/buttons.scss";
@import "../components/pagination/pagination.scss";
@import "../components/rich-checkbox-buttons/rich-checkbox-buttons.scss";
@import "../components/bullet-list/bullet-list.scss";
@import "../components/features/features.scss";
@import "../components/feedback/feedback.scss";

.form-elements{

    background: url("./assets/Group.svg");
    background-repeat: no-repeat;
    background-position: 30px 30px;
    padding-left: 141px;
    padding-right: 141px;
    padding-top: 140px;
    padding-bottom: 131px;

}
.form-elements__wrapper{
    display: grid;
    grid-template-columns:320px 126px 320px 72px 320px;
    grid-template-rows:636px 100px 265px 40.5px 281.5px 100.5px 158px;
    max-height: 1853px;
    width: 100%;
}
    .form-elements__wrapper .block-1{
    grid-row:1;
    grid-column:1;
    }
.form-elements__wrapper .block-2{
    grid-row:1;
    grid-column:3;
    }
.form-elements__wrapper .block-3{
    grid-row:1;
    grid-column:5;
    }
.form-elements__wrapper .block-4{
    grid-row:3;
    grid-column:1;
    }
.form-elements__wrapper .block-5{
    grid-row:3;
    grid-column:3;
    }
.form-elements__wrapper .block-6{
    grid-row:3;
    grid-column:5;
    }
.form-elements__wrapper .block-7{
    grid-row:5;
    grid-column:1;
    }
.form-elements__wrapper .block-8{
    grid-row:5;
    grid-column:3;
    }
.form-elements__wrapper .block-9{
    grid-row:5;
    grid-column:5;
    }
.form-elements__wrapper .block-10{
    grid-row:7;
    grid-column:1;
    }
.form-elements__wrapper .block-11{
    grid-row:7;
    grid-column-start:3;
    grid-column-end:7;
    }
    .buttons-form__button-purpule{
        margin-top: 30px;
        margin-bottom: 40px;
    }
