include ../components/header-main/header-main
include ../components/big-footer/big-footer
include ../components/toxin-logo/toxin-logo
include ../components/small-footer/small-footer

mixin headers-footers
     section.headers-footers
      +page-header(false)
      +page-header(true)
      +big-footer
      +small-footer