mixin checkbox-buttons(h3)
    .checkbox-buttons
        h3.checkbox-buttons__title=h3
        .checkbox-buttons__checkbox-block
            input.checkbox-buttons__checkbox-input(type="checkbox" id="smoke")
            label.checkbox-buttons__checkbox-label(for = "smoke") 
                    p.checkbox-buttons__checkbox-text Можно курить
        .checkbox-buttons__checkbox-block
            input.checkbox-buttons__checkbox-input(type="checkbox" id="pet" checked)
            label.checkbox-buttons__checkbox-label(for = "pet") 
                    p.checkbox-buttons__checkbox-text Можно с питомцами
        .checkbox-buttons__checkbox-block
            input.checkbox-buttons__checkbox-input(type="checkbox" id="invite" checked)
            label.checkbox-buttons__checkbox-label(for = "invite")
                    p.checkbox-buttons__checkbox-text Можно пригласить гостей (до 10 человек)