mixin checkbox-buttons
    .checkbox-buttons
        input(type="checkbox" id="smoke")
        label(for = "smoke") Можно курить
        input(type="checkbox" id="pet" checked)
        label(for = "pet") Можно с питомцами
        input(type="checkbox" id="invite" checked)
        label(for = "invite") Можно пригласить гостей (до 10 человек)